<footer>
    <div class="inline-grid w-full grid-cols-4 gap-4 bg-black">
        <div class="place-content-center">
            <img class="w-8 h-8 m-auto rounded-full place-self-center"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="">
        </div>
        <div class="w-40 pr-2">
            <p>2</p>
        </div>
        <div class="w-40 pr-2">
            <p>3</p>
        </div>
        <div class="w-40 pr-2">
            <p>4</p>
        </div>
        <!-- <p>© 2020 Ask&GetIt, Inc. All rights reserved.</p> -->
    </div>
</footer>